__pycache__/
local/
.claude

**dist**
**output**
**target**
**temp**
**tmp**
**build**
**secret**
**private**
**key**

*.apk
*.xapk
*.key
*.log
*.rsa
*.crt
*.pem
*.priv
*.pub
*.env*
!.env.example
*.js
*.ts
*.bat
*.cmd
*.ps
*.ps1
*.ps2
*.psd
*.doc
*.docx
*.id
*.pyc
*.pem
*.pub
*.env
*.direnv
*.envrc
*.rsa
*.crt
*.pfx
*.bmp
*.cert
*.key
*.png
*.jpg
*.jpeg
*.log
