
*.crt
data/
**dist**
*.env*
!.env.example
instagram.apk
instagram.xapk
*.key
*.log
**output**
*.pem
*.priv
*.pub
__pycache__
__pycache__/
.pytest_cache/
*.rsa
.ruff_cache/
**target**
**temp**
**tmp**
xapk/
